* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #e4e4e4;
}

.image {
  width: 100%;
  height: 100vh;
  background-color: #023e8a;
  background-image: linear-gradient(#023e8a, #0096c7);
}